<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="icte.cph.aau.washingmachine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".WashingMachineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <!-- Auth0 Lock -->
        <activity
            android:name="com.auth0.lock.LockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="group25washingmashine.eu.auth0.com"
                    android:scheme="a0RDNkCwIHvq0tLZPFopQcOjEbq2DXFg1j" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.auth0.lock.client-id"
            android:value="RDNkCwIHvq0tLZPFopQcOjEbq2DXFg1j" />
        <meta-data
            android:name="com.auth0.lock.domain-url"
            android:value="group25washingmashine.eu.auth0.com" />
        <!-- Auth0 Lock End -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterWashingMachineActivity" />
        <activity android:name=".WashingMachineActivity" />
        <activity android:name=".InsertClothActivity"></activity>
    </application>

</manifest>